*.exe
ServerLogin.Pas
*.vlb
*.res
*.dsk
*.dsv
*.identcache
*.local
*.~dsk
*.dsv
__history/*.*
__recovery/*.*
Win32/*
msbuild.log

/SmartInspect/__history/*.*
/CryptRules.inc
/InitKeyX.inc
/InitKeyX.inc
/libeay32.dll
/ssleay32.dll

/PasLibVlc/source/__history/*.*
/PasLibVlc/source/__recovery/*.*
/PasLibVlc/source.fmx/__history/*.*
/PasLibVlc/source.fmx/__recovery/*.*

/IPCManager/__history/*.*
/IPCManager/__recovery/*.*

/Testing/TestSharedMemory/__history/*.*
/Testing/TestSharedMemory/__recovery/*.*
/Testing/TestSharedMemory/Win32/*